/* xs: Extra small devices (portrait phones, less than 576px) */
h2 {margin-top: 1rem}
.text-primary {color: #800000 !important}
.card-body {padding: .5rem}
.card-title {
  padding: .5rem 0;
  color: white !important;
  background-color: #800000;
  text-align: center;
}

@media (min-width: 400px) {
  #title {display: inline !important}
}

/* sm: Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* md: Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* lg: Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #title {
    font-size: 2rem;
    position: absolute;
    top: .75rem;
    margin-left: 1rem !important;
  }
}

/* xl: Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #carouselLocations {width: 1110px}
}
